.sandbox-home {
    margin-top: 50px;
    margin-bottom: 25px;
}

.sandbox-home .btn-default {
    background: #54BC75;
}

.sandbox-home .cars {
    background: #6E9BB7;
}

.sandbox-home .medkit {
    background: #B10F2E;
}
